ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #960000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ggdivi {
  height: 40px;
}

.navdiv {
  width: 1116px;
  height: 75px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.divma {
  padding:20px;
  margin-top:30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  
  padding: 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #7c0000;
}

.active {
  background-color: #bc0000;
}

/*
.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  background:rgb(151, 23, 0);
  padding:5px;
}
.logo {
  flex:1 0 0;
}
.navigation {
  flex:1 0 0;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  height: 70px;
}
.navigation ul {
  display:flex;
  width:100%;
  justify-content:space-between;
}
.content {
  margin-top:30px;
}
*/